.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;

}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.buttonContainer {
  display: grid;
  grid-template-columns: 135px 1fr;
  align-items: center;
  column-gap: 30px;
  padding-top: 30px;

}

.buttonBack {
  width: 43px;
  height: 43px;
  background-image: url("../../shared/assets/images/icon/testt.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  fill: var(--main-btn-color);
  color: #fff;
}