.modal {
  flex-direction: row-reverse;

}

dialog[open] {
  position: relative;
  display: flex;
  max-width: 760px;
  max-height: 400px;
  width: 100%;
  border-radius: 30px;
  padding: 30px 30px;;
  background-color: var( --primary-color);
  overflow: hidden;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.84);
  }
}

.button {
  width: 46px;
  height: 43px;
  background-image: url("../../shared/assets/images/icon/close.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
